importFrom(lubridate,dmy)
importFrom(reshape2,melt)
import(ggplot2,XML)

S3method(plot,apsim)

export(apsim)
export(apsimSEN)
export(edit_apsim)
export(edit_sim_file)
export(example_apsim)
export(emulate)
exportClasses(apsim)